@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*---------------- Global  --------------*/
body {
  width: 1200px;
  margin: 0 auto 0;
  font-family: "Nunito";
}
header {
  margin: 32px;
  display: inline-flex;
}
a {
  text-decoration: none;
  color: #612999;
  font-weight: 300;
}

li {
  margin: 0 64px;
  font-size: 30px;
}
h2 {
  color: #612999;
}
/* --------------- Header ----------------------- */
.logo > * {
  margin: 0px 5px 0px 5px;
}
a.logo {
  display: inline-flex;
}

a > h2 {
  color: yellow;
  font-weight: 600;
  -webkit-text-stroke: 0.5px blue;
  align-self: center;
  font-size: 24px;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-link:hover {
  font-weight: bold;
}

/* --------------- Main ----------------- */
.main-pic {
  position: relative;
}
.main-pic-text {
  position: absolute;
  width: 448px;
}
.main-pic-text > * {
  margin: 32px;
  width: 448px;
}

.main-pic-text > h1 {
  font-size: 96px;
  color: #612999;
}
.main-pic-text > p {
  font-size: 24px;
}
.main-about {
  margin: 32px;
}

.main-about > h2 {
  font-size: 40px;
}
.main-about > p {
  font-weight: 400;
  font-size: 20px;
}
.main-popular{
    margin:32px;
}
.main-popular>h2{
    font-size: 40px;
}