@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*---------------- Global  --------------*/
body {
  margin: 0 auto 0;
  font-family: "Nunito";
  overflow-x: hidden;
}

header {
  margin: 32px;
  display: inline-flex;
  /* justify-content: center; */
  width: 100%;
}
a{
  text-decoration: none;
}



li {
  margin: 0 63px;
  font-size: 30px;
  gap: 10px;
}

h2 {
  color: #612999;
}

/* --------------- Header ----------------------- */
.logo>* {
  margin: 0px 5px 0px 5px;
}

.logo>img {
  align-self: center;
  width:64px;
}

a.logo {
  display: inline-flex;
  margin-right:87px;
}

a>h2 {
  color: yellow;
  font-weight: 700;
  -webkit-text-stroke: 0.5px blue;
  align-self: center;
  font-size: 24px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 32px 63px;
  padding:0;
}
.nav-link {
  color: #612999;
  font-weight: 300;
}

.nav-link:hover {
  font-weight: bold;
}

/* --------------- Main ----------------- */
/* Picture */
.main-pic {
  position: relative;
}

.main-img {
  width: 100%;
}

.main-pic-text {
  position: absolute;
  width: 448px;
}

.main-pic-text>* {
  margin: 32px;
  width: 448px;
}

.main-pic-text>h1 {
  font-size: 96px;
  color: #612999;
}

.main-pic-text>p {
  font-size: 24px;
  font-weight: 600;
}

/* About */
.main-about {
  margin: 32px;
}

.main-about>* {
  font-family: "Rubik";
}

.main-about>h2 {
  font-size: 40px;
}

.main-about>p {
  font-weight: 400;
  font-size: 20px;
}

/* Popular */
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 376px);
  gap: 32px;
  margin-bottom: 32px;
}

.main-popular {
  margin-left: 32px;
}

.main-popular>h2 {
  font-size: 40px;
}

.item-card {
  width: 376px;
  height: 496px;
  position: relative;
  border-radius: 30px;
  background-color: #efecff;
  box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.05);
}

.item-card>img {
  border-radius: 30px;
}

.heart-img {
  position: absolute;
  right: 42px;
  top: 35px;
}

.item-card>h3 {
  margin: 21px 32px 0px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Abel";
}

.item-card>p {
  margin: 7px 32px;
  font-family: "Abel";
  font-size: 18px;
  font-weight: 400;
}

.card-price {
  position: absolute;
  bottom: 36px;
  margin: 24px 32px 0;
  font-family: "Abel";
  font-weight: 400;
  font-size: 35px;
}

.cart {
  position: absolute;
  right: 51px;
  bottom: 27px;
}

/* -------------- Footer ------------ */
footer{
  background-color: rgba(239, 236, 255, 1);
}

footer{
  display:flex;
  flex-direction: column;
  font-family: "Nunito";
  position:relative;
}

.footer-lists{
  display: flex;
}

.footer-who,.footer-follow{
  margin:32px 32px 24px;
}

.footer-who-list{
  list-style: none;
  padding:0;
}
.footer-who>h3,.footer-follow>h3{
  margin:0;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

.footer-who-list>li{
  margin:8px 0;
  font-weight: 400;
  font-size: 16px;
}
.footer-links{
  color:black;
}

.footer-follow{
  margin-left:118px;
}

.footer-logo{
  margin-left: 32px;
  display:flex;
  gap:24px;
}

footer>h3{
  font-weight: 600;
  font-size: 16px;
  margin-top:16px;
  margin-left:32px;
  margin-bottom: 51px;
}